APScheduler==3.4.0
certifi==2017.7.27.1
chardet==3.0.4
feedparser==5.2.1
future==0.16.0
idna==2.6
psycopg2==2.7.3.1
python-telegram-bot==8.1.1
pytz==2017.2
requests==2.18.4
six==1.11.0
SQLAlchemy==1.1.14
tqdm==4.19.4
tzlocal==1.4
urllib3==1.22
newspaper3k==0.2.6
html-telegraph-poster==0.1.31